<p id="login-form-status">Please wait...</p>
<%
const genId = () => Math.random().toString(16).slice(2, 10);
const FORM_INPUT_USERNAME_ID = 'login-form-' + genId();
const FORM_INPUT_PASSWORD_ID = 'login-form-' + genId();
%>
<div class="login-form-inputs" hidden>
  <label for="<%= FORM_INPUT_USERNAME_ID %>">Username</label>
  <input id="<%= FORM_INPUT_USERNAME_ID %>" name="username" type="text">
  <label for="<%= FORM_INPUT_PASSWORD_ID %>">Password</label>
  <input id="<%= FORM_INPUT_PASSWORD_ID %>" name="password" type="password">
  <input name="quizFactorization" type="hidden" value="<%= quizFactorization %>">
  <input type="hidden" name="passwordId" value="<%= passwordId %>">
</div>
<div id="login-form-placeholder"></div>
<script type="module" src="/assets/login-quiz.js"></script>
